@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


body {
    background-image: url('/images/fundo.jpg');
    background-size: cover; /* opcional */
    background-position: center; /* opcional */
}

.form-wrapper {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin-left: calc(50% - 175px);
    margin-bottom: -7px;
    
}

.styled-form h1 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 2rem;
    color: #333333;
    text-align: center;
    letter-spacing: 0.05em;
}

.input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1.8px solid #d1d9e6;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    outline-offset: 2px;
    outline-color: transparent;
    font-weight: 400;
    color: #444444;
}

    .input:focus {
        border-color: #005fcc;
        outline-color: #005fcc;
        box-shadow: 0 0 8px rgba(0, 95, 204, 0.3);
    }

.button {
    width: 100%;
    padding: 14px 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    background-color: #ff6a00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    letter-spacing: 0.05em;
    margin-top: 10px;
}

    .button:hover {
        background-color: #c15101;
    }

.mensagem {
    margin-top: 25px;
    padding: 14px 20px;
    background-color: #e9f5ff;
    border: 1.5px solid #005fcc;
    color: #004bb5;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 95, 204, 0.1);
    user-select: none;
}

.lbl {
    text-align: center;
    color: #004bb5;
}

footer {
    background-color: #fff;
}