html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
   
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}


:root {
    --primary-orange: #ff8c00; 
    --secondary-white: #ffffff; 
    --hover-orange: #cc7000; 
    --text-color: #ffffff;
}



.custom-nav {
    display: flex;
    background-color: var(--primary-orange) !important;
    border-bottom: none !important;
    top: 0;
    position: sticky;
    z-index: 1000;
    
}

.custom-nav .navbar-brand {
    background-color: var(--primary-orange) !important;
    color: var(--secondary-white) !important;
    font-weight: bold;
    font-size: 1.5em;
    transition: color 0.3s;
    margin-left:68px;
}

@media (max-width: 900px) {
    .custom-nav .navbar-brand {
        margin-left: 15px;
    }
}

.custom-nav .navbar-brand:hover {
     color: #f0f0f0 !important;
}

    .custom-nav .navbar-nav .nav-link {
        color: var(--secondary-white) !important;
        padding: 0.5rem 1rem;
        font-weight: 500;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        display: flex;
        gap: 20px;
    }

.custom-nav .navbar-nav .nav-link:hover {
    background-color: var(--hover-orange) !important;
    color: var(--secondary-white) !important;
}

:root {
    --primary-orange: #ff8c00;
    --secondary-white: #ffffff;
    --dark-footer: #333333;
    --link-color: #ffaa40;
}


.footer {
    background-color: #ff6a00;
    color: var(--secondary-white) !important;
    padding: 15px 0;
    font-size: 0.9em;
    width: 100%;
    border-top: none !important;
}

    .footer .containerr {
        text-align: center;
        margin-top: -10px;
    }

    .footer a {
        color: var(--link-color) !important;
        text-decoration: none;
        transition: color 0.3s;
        font-weight: 500;
    }

        .footer a:hover {
            color: var(--secondary-white) !important;
            text-decoration: underline;
        }